<nav class="cover-navigation navigation--social">
  <ul class="navigation">


  <!-- Github -->
  <li class="navigation__item">
    <a href="http://github.com/{{ site.author.github }}" title="海马体的Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Weibo -->
  <li class="navigation__item">
    <a href="{{ site.author.weibo }}" title="海马体的微博" target="_blank">
      <i class='social fa fa-weibo'></i>
      <span class="label">Weibo</span>
    </a>
  </li>

  <!-- Instagram -->
  <li class="navigation__item">
    <a href="{{ site.author.instagram }}" title="海马体的Instagram" target="_blank">
      <i class='social fa fa-instagram'></i>
      <span class="label">instagram</span>
    </a>
  </li>
  
  <!-- RSS -->
  <li class="navigation__item">
    <a href="http://baidu.com/" rel="author" title="百度搜索" target="_blank">
      <i class='social fa fa-baidu'></i>
      <span class="label">baidu</span>
    </a>
  </li>

  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:{{ site.author.email }}" title="18120121@bjtu.edu.cn">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>

  </ul>
</nav>
